@model IEnumerable<(DMS_Final.Models.DocumentStatusHistoryModel History, string Title, string OriginalFileName)>

@{
    ViewData["Title"] = "Document Status History";
}

<h1 class="text-center">Document Status History</h1>
<p class="text-center">View a list of all document status changes.</p>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th class ="text-center text-nowrap">Title</th>
            <th class="text-center text-nowrap">File Name</th>
            <th class="text-center text-nowrap">Status</th>
            <th class="text-center text-nowrap">Created By</th>
            <th class="text-center text-nowrap">Created On</th>
            <th class="text-center text-nowrap">Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center text-nowrap">@item.Title</td>
                <td class="text-center text-nowrap">@item.OriginalFileName</td>
                <td class="text-center text-nowrap">@item.History.ApproveStatus</td>
                <td class="text-center text-nowrap">@item.History.CreatedBy</td>
                <td class="text-center text-nowrap">@item.History.CreatedOn.ToString("g")</td>
                <td class="text-center text-nowrap">@item.History.Notes</td>
            </tr>
        }
    </tbody>
</table>